[submodule "third_party/cryptominisat"]
	path = third_party/cryptominisat
	url = https://github.com/msoos/cryptominisat
	ignore = dirty
[submodule "third_party/googletest"]
	path = third_party/googletest
	url = https://github.com/google/googletest
	ignore = dirty
